/* ===== FOOTER SECTION ===== */
.footer {
      text-align: center;
      background: #313131;
      width: 100%;
      height: 7%;
      padding-top: 2rem;
}

.footer__text--wrapper {
      display: flex;
      flex-direction: column;
}

.footer__logo a,
.footer_text {
      color: #fff;
      margin: .5rem 0;
      font-size: 1.5rem;
}