.promotion {
	padding: 2rem 1.5rem;
	width: 100%;
	max-height: 300px;
	cursor: grab;

	&__box {
		padding: 0 5rem;
		display: flex !important;
		flex-direction: row !important;
		margin: 0 2rem;
	}

	&__image {
		flex: 1 0 50%;
		height: 150px;
		width: 200px;
	}

	&__text {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex: 1 0 50%;
		padding-left:  1.5rem;


		h3 {
			font-size: 1.8rem;
		}

		p {
			font-size: 1.5rem;
			width: 75%;
			margin-top: .5rem;
		}
	}
}


.center {
	width: 100%;
	padding: 2rem 2rem;
}


.loading_spinner-wrap {
  width: 100%;
  padding: 50px 0;
}

.loading_spinner {
  display: block;
  margin: 0 auto;
  fill: #000;

  circle {
    animation-name: upAndDown;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.05, .2, .35, 1);
    animation-iteration-count: infinite;

    &:nth-child(2) {
      animation-delay: .18s;
    }

    &:nth-child(3) {
      animation-delay: .36s;
    }
  }
}

@keyframes upAndDown {
  0% { opacity: 0; transform: translateY(0); }
  25% { opacity: 1; transform: translateY(-10px); }
  75% { opacity: 1; transform: translateY(-10px); }
  100% { opacity: 0; transform: translateY(0); }
}