.shop {
	display: flex;
	width: 100%;
	overflow-x: hidden; 
	flex-wrap: wrap;
	padding-top: 5rem;

	&__left {
		flex: 1 0 20%;
		padding-left: 4rem;
		border-top: 1px solid #e8e8e8;
    	margin-top: 8rem;
	}

	&__right {
		flex: 2 0 80%;
	}
}

.collapse_title span {
    text-transform: uppercase;
    font-weight: 700;
}

.grid_btn {
    float: right;
    padding: 10px 10px;
    font-size: 20px;
    color: #c6c6c6;
}
.grid_btn.active {
    color: #727272;
}

.shop_options {
    border-bottom: 1px solid #e8e8e8;
    margin: 0px 20px 20px 20px;
    padding-bottom: 8rem;
}

