// #######################
// #     PAGE TOP        #
// #######################

.category-intro {

	&__container {
	width: 100%;
	color: $color-primary-dark;
	background: $color-background-white;
    margin-top: 2rem;

	}

	&__title {
		font-size: 1.8rem;
		line-height: 1.2;
		margin-top: 1rem;
		margin-bottom: 1.5rem;
		padding-left: 4rem;
        font-weight: 500;
	}

	&__description {
		font-weight: 400;
		font-size: 2.5rem;
		line-height: 1.8;
		padding-left: 4rem;
	}
}

// LightBox
.content_13hv8io {
    max-width: 60vw !important;
    max-height: 50vh !important;
}


/*============================
        CARD ITEM
==============================*/
.card_block_shop {
	display: flex;
	flex-wrap: wrap;
}


.card__item {

    &-wrapper {
        flex: 1 0 30%; 
        padding: 0 20px;
        box-sizing: border-box;
        position: relative;
    }

    &-wrapper.grid_bars {
        display: flex;
        width: 100%;

        .card__item-image {
            min-width: 400px;
            height: 200px;
            border: none;
        }

        .card__item-tags--brand,
        .card__item-tags--name,
        .card__item-tags--price {
            text-align: left;
            margin: .5rem;
        }

        .description {
            font-size: 1.5rem;
        }
    }

    &-tags {
        position: relative;
        border-bottom: 1px solid #f0f0f0;

        &--brand,
        &--name,
        &--price {
            text-align: center;
            margin: .5rem;
        }
        
        &--brand {
            font-size: 2rem;
            font-weight: 700;
        }

        &--name {
            font-size: 1.6rem;
            font-weight: 500;
        }
        
        &--price {
            font-weight: 300;
            font-size: 1.6rem;
        }
    }

    &-image {
        width: 100%;
        height: 280px;
        background-position: center center !important;
        background-size: contain !important;
        border: 1px solid #f0f0f0;
    }

    &-container {
        display: flex;
        flex-direction: column;
    }
   	
    &--actions {
        flex-grow: 1;
        padding-right: 1rem;
        display: flex;
        justify-content: space-between;
    } 
}


.button_wrap {

    .buttonComp {
        font-size: 1.5rem;
    }
}


.load_more_container {
    margin-bottom: 50px;
    border-top: 5px solid #f5f5f5;
    padding-top: 20px;
}

.load_more_container span {
    cursor: pointer;
    background: $color-accent;
    color: $color-primary-light-1;
    font-size: 27px;
    padding: 10px 60px;
    display: table;
    margin: 0 auto;
}



/*=============================
         ADMIN
===============================*/

.admin_category_wrapper {
    padding-bottom: 50px;
    border-bottom: 4px solid #e9e9e9;
}

.admin_two_column {
    display: flex;
}

.admin_two_column .right {
    flex-grow: 1;
}
.brands_container {
    height: 200px;
    overflow-y: scroll;
    margin-right: 20px;
}

.brands_container .category_item {
    width: 200px;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid #f1f1f1;
    padding: 10px;
    position: relative;
    background: #999592;
    color: #fff;
}

.dropzone {
    border: 1px solid #e5e5e5;
    margin-bottom: 40px;
}

.dropzone_box {
    float: left;
    width: 25%;
    height: 160px;
    padding: 10px;
    box-sizing: border-box;
}

.dropzone_box  .wrap {
    background: #eaeaea;
    height: 100%;
    text-align: center;
    padding-top: 31px;
    box-sizing: border-box;
    font-size: 49px;
    background-size: contain !important;
    background-position: center center !important;
    border: 1px solid #eaeaea;
}

/*============================
        PRODUCT DETAIL
==============================*/

.product_detail_wrapper {
    display: flex;   
    margin-bottom: 140px;
}

.product_detail_wrapper .right{
    flex-grow: 1; 
    min-height: 800px;
}


.product_detail_wrapper p {
    font-size: 17px;
    font-family: Arial, Helvetica;
    font-weight: lighter;
}

.product_detail_wrapper .product_tags {
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
}

.product_detail_wrapper .product_tags .tag {
    display: flex;
    margin-bottom: 20px;
}

.product_detail_wrapper .product_tags .tag svg {
    font-size: 43px;
    color: #e4e4e4;
    width: 50px;
}

.product_detail_wrapper .product_tags .tag .tag_text {
    font-size: 14px;
    text-transform: uppercase;
    color: #999592;
    padding-left: 20px;
}

.product_detail_wrapper .product_actions .price{
    font-size: 40px;
    font-weight: 300;
}
.product_detail_wrapper .product_actions .cart {
    width: 149px;
}
.user_cart_sum {
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #e7e7e7;
    background: #f7f7f7;
    padding: 20px 30px;
}

.cart_no_items svg ,
.cart_success svg {
    font-size: 130px;
    color: #717171;
}
.cart_no_items,
.cart_success {
    text-align: center;
    font-size: 28px;
    color: #999592;
}


.product_detail_wrapper .product_actions {
    padding: 20px 0px 30px 0px;
    border-bottom: 1px solid #d3d3d3;
}

.product_detail_wrapper .product_specifications .item{
    font-size: 15px;
    text-transform: uppercase;
    color: #838383;
}

.product_detail_wrapper .product_image_container {
    margin-top: 30px;
    padding-right: 70px;
}

.product_detail_wrapper .main_pic {
    box-sizing: border-box;
    cursor: pointer;
}

.product_detail_wrapper .main_pic div {
    width: 100%;
    height: 446px;
    border: 1px solid #d9d9d9;
    background-size: contain !important;
    background-position: center center !important;
}

.product_detail_wrapper .main_thumbs {

    margin-top: 10px;
}



.product_detail_wrapper .main_thumbs .thumb {
    cursor: pointer;
    height: 200px;
    width: 50%;
    background-size: cover !important;
    background-position: bottom center !important;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    float: left;
}

.paypal_button_container{
    margin: 10px 0px;
}